@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style start */
.display-flex{
    display: flex;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(255, 144, 14);
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem;
}
/* color shared */
.dark-1 {
    color: rgb(19, 19, 19);
}
.dark-2 {
    color: rgb(66, 66, 66);
}
.dark-3 {
    color: rgb(114, 114, 114);
}
.orang {
    color: rgb(255, 144, 14);
}


/* header style start */


/* nav style added */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-links {
    gap: 30px;
}
.nav-items {
    list-style: none;
    
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style  */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    width: 100%;
}

/*  team and feature style */
.feature {
    align-items: center;
}
.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-container{
    margin-left: 73px;
    max-width: 530px;
    
}

.quick-font {
    font-weight: 400;
}

    /* star feature and enjoy */
.feature-enjoy{
    gap: 146px;
}

#feature-section-title{
    border-left: 5px solid rgb(255, 144, 14);
    padding: 21px;
}

.card-container{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.card-container .card title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

.experience-badge{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(255, 144, 14);
    width: 342px;
    height: 200px;
    padding: 45px 42px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -123px;
}
#experience-years{
    font-size: 4rem;
    font-weight: 700;

}


/* facts related style */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-description{
    width: 542px;
    font-size: 16;
    font-weight: 400;
    margin-bottom: 100px;
}
.fact{
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    text-align: center;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsor section start */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}



/* responsive media query */
@media screen and (max-width: 576px){
    .navbar,
    .nav-links,
    .feature,
    .feature-enjoy{
        flex-direction: column;
    }
    .feature-img,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-container {
        margin: 20px;
    }
    .fact-description{
    width: 100%;
    }
    .facts-container,
    .sponsor-companies{
        justify-items: center;
        gap: 20px;
    }
    .feature-enjoy img{
        width: 100%;
    }
    .experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* medium size style */

@media screen and (min-width:576px) and (max-width: 992px){
    .feature{
        flex-direction: column;
    }
    .feature-container{
        margin: 50px auto;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
}